.Modal {
  position: absolute;
  z-index: 1000;
  background-color: black;
  width: 18%;
  height: 24%;
  top: 40%;
  color: white;
  transition: all 0.1s ease-out;
  padding: 4px;
  border-radius: 10px;
}
