.Data {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e3e3e3;
  height: 100%;
  margin-right: 3px;
  padding-left: 3px;
}

#label {
  text-align: center;
  font-size: 0.8em;
}
