.DataSummary {
  p {
    font-size: 0.9em;
    padding: 0px 5px 0px 0px;
  }

  div {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
  }

}

#summary-label {
  width: auto;
  padding-right: 1px;
}

#rectangle {
  width: 10px;
  height: 16px;
  margin-right: 2px;
}
